<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General Settings</title>
        <title lang="de-DE">Allgemeine Einstellungen</title>

        <input-field type="bool">
            <name>ShowTabBeforeRatingTab</name>
            <label>show the tabs before the rating tab</label>
            <label lang="de-DE">Tabs vor dem Bewertungen-Tab anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>TruncateTabPreviewText</name>
            <label>number of characters from which the preview text in smaller resolutions should be truncated</label>
            <label lang="de-DE">Anzahl an Zeichen, ab denen der Vorschautext in den kleineren Auflösungen gekürzt werden soll</label>
            <defaultValue>125</defaultValue>
            <placeholder>125</placeholder>
        </input-field>
    </card>

    <card>
        <title>Tab 1</title>
        <title lang="de-DE">Tab 1</title>

        <input-field type="bool">
            <name>FillTabViaSnippet</name>
            <label>fill via a snippet</label>
            <label lang="de-DE">über einen Textbaustein befüllen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTabHeadlineViaSnippet</name>
            <label>headline from the snippet</label>
            <label lang="de-DE">Überschrift aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tabHeadlineFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTabHeadline</name>
            <label>use twig compiling for the headline</label>
            <label lang="de-DE">Twig-Kompilierung bei der Überschrift nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTabContentViaSnippet</name>
            <label>content from the snippet</label>
            <label lang="de-DE">Inhalt aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tabContentFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTabContent</name>
            <label>use twig compiling for the content</label>
            <label lang="de-DE">Twig-Kompilierung beim Inhalt nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Tab 2</title>
        <title lang="de-DE">Tab 2</title>

        <input-field type="bool">
            <name>FillTab2ViaSnippet</name>
            <label>fill via a snippet</label>
            <label lang="de-DE">über einen Textbaustein befüllen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab2HeadlineViaSnippet</name>
            <label>headline from the snippet</label>
            <label lang="de-DE">Überschrift aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab2HeadlineFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTab2Headline</name>
            <label>use twig compiling for the headline</label>
            <label lang="de-DE">Twig-Kompilierung bei der Überschrift nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab2ContentViaSnippet</name>
            <label>content from the snippet</label>
            <label lang="de-DE">Inhalt aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab2ContentFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTab2Content</name>
            <label>use twig compiling for the content</label>
            <label lang="de-DE">Twig-Kompilierung beim Inhalt nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Tab 3</title>
        <title lang="de-DE">Tab 3</title>

        <input-field type="bool">
            <name>FillTab3ViaSnippet</name>
            <label>fill via a snippet</label>
            <label lang="de-DE">über einen Textbaustein befüllen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab3HeadlineViaSnippet</name>
            <label>headline from the snippet</label>
            <label lang="de-DE">Überschrift aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab3HeadlineFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTab3Headline</name>
            <label>use twig compiling for the headline</label>
            <label lang="de-DE">Twig-Kompilierung bei der Überschrift nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab3ContentViaSnippet</name>
            <label>content from the snippet</label>
            <label lang="de-DE">Inhalt aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab3ContentFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTab3Content</name>
            <label>use twig compiling for the content</label>
            <label lang="de-DE">Twig-Kompilierung beim Inhalt nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Tab 4</title>
        <title lang="de-DE">Tab 4</title>

        <input-field type="bool">
            <name>FillTab4ViaSnippet</name>
            <label>fill via a snippet</label>
            <label lang="de-DE">über einen Textbaustein befüllen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab4HeadlineViaSnippet</name>
            <label>headline from the snippet</label>
            <label lang="de-DE">Überschrift aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab4HeadlineFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTab4Headline</name>
            <label>use twig compiling for the headline</label>
            <label lang="de-DE">Twig-Kompilierung bei der Überschrift nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab4ContentViaSnippet</name>
            <label>content from the snippet</label>
            <label lang="de-DE">Inhalt aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab4ContentFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

         <input-field type="bool">
            <name>UseTwigInTab4Content</name>
            <label>use twig compiling for the content</label>
            <label lang="de-DE">Twig-Kompilierung beim Inhalt nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Tab 5</title>
        <title lang="de-DE">Tab 5</title>

        <input-field type="bool">
            <name>FillTab5ViaSnippet</name>
            <label>fill via a snippet</label>
            <label lang="de-DE">über einen Textbaustein befüllen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab5HeadlineViaSnippet</name>
            <label>headline from the snippet</label>
            <label lang="de-DE">Überschrift aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab5HeadlineFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTab5Headline</name>
            <label>use twig compiling for the headline</label>
            <label lang="de-DE">Twig-Kompilierung bei der Überschrift nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>FillTab5ContentViaSnippet</name>
            <label>content from the snippet</label>
            <label lang="de-DE">Inhalt aus dem Textbaustein</label>
            <snippet>sschreier.tabproductdetailpage.tab5ContentFillViaSnippet</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>UseTwigInTab5Content</name>
            <label>use twig compiling for the content</label>
            <label lang="de-DE">Twig-Kompilierung beim Inhalt nutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
